.products {
    margin-bottom: 100px;
  }
  
  @media (max-width: 1200px) {
    .products {
      margin-bottom: 70px;
    }
  }
  
  @media (max-width: 768px) {
    .products {
      margin-bottom: 50px;
    }
  }
  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1650px;
  }
  
  .products_title {
    text-align: center;
    margin-bottom: 60px;
  }
  
  @media (max-width: 1200px) {
    .products_title {
      margin-bottom: 40px;
    }
  }
  
  @media (max-width: 768px) {
    .products_title {
      margin-bottom: 20px;
    }
  }
  
  .products_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    margin-bottom: 50px;
  }
  
  @media (max-width: 1200px) {
    .products_grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (max-width: 768px) {
    .products_grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  .ProductsBottom {
    text-align: center;
  }
  
  .products img {
    display: block;
    width: 100%;
  }
  